<app-post-form [currentBook]="currentBook" [isEdit]="isEdit" (newBook)="onNewBook($event)" (updatedBook)="onUpdatedBook($event)"></app-post-form>
<div class="card" *ngFor="let book of books">
  <!-- <div class="container"></div> -->
  <h1>Title : {{ book.title }}</h1>
  <div class="card-body">
    <ul class="list-unstyled">
      <li class="card card-body mb-2">
        <div class="row">
          <div class="col-sm-4">
            <div class="col-sm-8">
              <ul class="list-group">
                <li class="list-group-item">ID : {{book.id}} </li>
                <li class="list-group-item">Author :{{book.authorName}}</li>
                <li class="list-group-item">Category :{{book.category}}</li>
              </ul>
             <button (click)="removeBook(book)"class="btn btn-danger">X</button>
              <button (click)="editBook(book)"class="btn btn-success">^</button>
              <hr>
            </div>
            <div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
