<nav class="navbar navbar-dark bg-primary mb-4">
  <div class="container">
    <a href="#" class="navbar-brand">Home</a>
    <a href="#" class="navbar-brand">Books</a>
    <a href="#" class="navbar-brand">Feeling Lucky?</a>
  </div>
</nav>
<app-book></app-book>
<!-- <div class="card" *ngFor="let book of books"></div>
<ul class="list-unstyled">
  <li class="card card-body mb-2">
    <div class="row">
      <div class="col-sm-4">
        <img class="img-fluid" src="https://media.giphy.com/media/13gvXfEVlxQjDO/giphy.gif" alt="">
      </div>
       <div class="col-sm-8">
        <h3>{{book.title}}</h3>
        <ul class="list-group">
          <li class="list-group-item">{{books.description}}</li>
          <li class="list-group-item">test</li>
        </ul>
      </div>
 </div>
  </li>
</ul> -->
