/* div {
  background-color: #3e474f;
  font: 14px/24px "Gotham Rounded A", "Gotham Rounded B", "Gotham Rounded", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:white;
  font-size:20px;
  height: 80px;
  text-align: left;
}

/* .navbar-dark .navbar-nav .nav-link {
  color: #b2bbbd;
  font-size:20px;
  background: #3e474f;
  height: 70px;
  text-align: center;
  font-style: "Gotham Rounded A";

}
body{
  font: 14px/24px "Gotham Rounded A", "Gotham Rounded B", "Gotham Rounded", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #edeff0;
  color: #576366;
}

.a.nav-link{
  color: white;
} */
